<!-- Allows a user to upload images. Forces the user to crop images to a 1:1 aspect ratio.
Users are allowed to modify the cropped area before uploading. -->

<div class="text-center">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <div class="text-center">
          <img
            [src]="imgSrc"
            width="350"
            height="350"
            (click)="fileUploader.click()"
          />
        </div>
        <br />
        <div class="form-group">
          <label>Select file to upload</label>
          <input
            accept="image/*"
            type="file"
            class="form-control"
            formControlName="imageURL"
            #fileUploader
            (change)="showPreview($event)"
          />
          <image-cropper
            *ngIf="showImageCropper"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
          <div
            class="text-danger"
            *ngIf="isSubmitted && formControls.imageURL.errors?.required"
          >
            This field is required
          </div>
        </div>
        <div class="form-group">
          <label>Enter caption for selected image</label>
          <input
            class="form-control"
            formControlName="caption"
            placeholder="caption"
          />
          <div
            class="text-danger"
            *ngIf="isSubmitted && formControls.caption.errors?.required"
          >
            This field is required
          </div>
        </div>
        <label *ngIf="uploadComplete">Upload complete!</label>
        <div class="form-row">
          <div class="form-group col-md-6">
            <a
              routerLink="/image/list"
              class="btn btn-primary btn-block float-right"
              >Go to Gallery</a
            >
          </div>
          <div class="form-group col-md-6">
            <button class="btn btn-success btn-block float-right" type="submit">
              Submit
            </button>
          </div>
          <br />
        </div>
      </form>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          [style.width]="(uploadProgress | async) + '%'"
          [attr.aria-valuenow]="uploadProgress | async"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</div>
