<mat-spinner style="margin:0 auto;" *ngIf="showSpinner"></mat-spinner>

<div *ngIf="imageList">
  <div class="row no-gutters" *ngFor="let i of rawIndexArray">
    <div class="col-md-4 pad">
      <div *ngIf="i == 0">
        <a routerLink="/image/upload">
          <div class="content">
            <div class="content-overlay"></div>
            <img
              width="400"
              class="content-image"
              src="/assets/img/upload.gif"
            />
            <div class="content-details fadeIn-top">
              <h5>Upload Image</h5>
            </div>
          </div>
        </a>
      </div>

      <div *ngIf="imageList[3 * i - 1]">
        <div class="content">
          <div class="content-overlay"></div>
          <img class="content-image" [src]="imageList[3 * i - 1].imageURL" />
          <div class="content-details fadeIn-top">
            <h5>{{ imageList[3 * i - 1].caption }}</h5>
            <p>{{ imageList[3 * i - 1].timestamp }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 pad">
      <div class="content" *ngIf="imageList[3 * i]">
        <div class="content-overlay"></div>
        <img class="content-image" [src]="imageList[3 * i].imageURL" />
        <div class="content-details fadeIn-top">
          <h5>{{ imageList[3 * i].caption }}</h5>
          <p>{{ imageList[3 * i].timestamp }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pad">
      <div class="content" *ngIf="imageList[3 * i + 1]">
        <div class="content-overlay"></div>
        <img class="content-image" [src]="imageList[3 * i + 1].imageURL" />
        <div class="content-details fadeIn-top">
          <h5>{{ imageList[3 * i + 1].caption }}</h5>
          <p>{{ imageList[3 * i + 1].timestamp }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
